<b>LinkedIn —Ä–µ—Å—Ç–∞—Ä—Ç (–ú1)</b>

<b>–ü—Ä–æ–µ–∫—Ç: –ê–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–∏ –¥–ª—è –¥–∂—É–Ω–∏–æ—Ä–æ–≤ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –¥–∞–Ω–Ω—ã—Ö</b><br>
–¶–µ–ª—å: –í–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Ä—ã–Ω–∫–µ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –≤ –ï–≤—Ä–æ–ø–µ<br>
–ò—Å—Ç–æ—á–Ω–∏–∫ –¥–∞–Ω–Ω—ã—Ö: –î–∞—Ç–∞—Å–µ—Ç –ê–Ω–∞–ª–∏—Ç–∏–∫ + bi –∞–Ω–∞–ª–∏—Ç–∏–∫ (–¥–∂—É–Ω).<br>

<b>–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö</b><br>
job_title - –Ω–∞–∑–≤–∞–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–∏<br>
area - –ø–æ–ª–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ –º–µ—Å—Ç–∞ —Ä–∞–±–æ—Ç—ã<br>
city - –≥–æ—Ä–æ–¥ –º–µ—Å—Ç–∞ —Ä–∞–±–æ—Ç—ã<br>
country - —Å—Ç—Ä–∞–Ω–∞ –º–µ—Å—Ç–∞ —Ä–∞–±–æ—Ç—ã<br>
workplace - —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏<br>
company_name - –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è<br>
ndustry - —Å—Ñ–µ—Ä–∞ –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∫–æ–º–ø–∞–Ω–∏–∏-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è<br>
company_size - —Ä–∞–∑–º–µ—Ä –∫–æ–º–ø–∞–Ω–∏–∏-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è<br>
job_description - –æ–ø–∏—Å–∞–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–∏<br>
posted_date - –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –≤–∞–∫–∞–Ω—Å–∏–∏<br>
applicants - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∫–ª–∏–∫–æ–≤ –Ω–∞ –≤–∞–∫–∞–Ω—Å–∏—é<br>

<b>–¢–ó</b><br>
–ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö<br>
1. –ü—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã.<br>
2. –û–±—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏.<br>
3. –£–¥–∞–ª–∏—Ç—å –Ω–µ —Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω—ã–µ –∑–∞–¥–∞–Ω–∏—é –≤–∞–∫–∞–Ω—Å–∏–∏.<br>
4. –ü—Ä–∏–≤–µ—Å—Ç–∏ —Å—Ç–æ–ª–±–µ—Ü —Å –¥–∞—Ç–æ–π –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫ –≤–∏–¥—É, –ø—Ä–∏–≥–æ–¥–Ω–æ–º—É –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏.<br>
5. –í—ã–¥–µ–ª–∏—Ç—å hard skills –∏–∑ –æ–ø–∏—Å–∞–Ω–∏—è –≤–∞–∫–∞–Ω—Å–∏–∏ ‚Äî –∏—Ö –ø—Ä–æ—â–µ –∏—Å–∫–∞—Ç—å –≤ —Ä–∞–∑–Ω–æ—è–∑—ã—á–Ω—ã—Ö
–≤–∞–∫–∞–Ω—Å–∏—è—Ö, —á–µ–º soft skills.<br>
6. –£–¥–∞–ª–∏—Ç—å –Ω–µ–Ω—É–∂–Ω—ã–µ –∞—Ç—Ä–∏–±—É—Ç—ã (–ø—Ä–∏–∑–Ω–∞–∫–∏).<br>

# –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [92]:
# –ù–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è 
import pandas as pd
import requests
import numpy as np
from datetime import datetime, timedelta
from io import StringIO
from urllib.parse import urlencode
from typing import List
import warnings
warnings.filterwarnings('ignore')

In [93]:
url='https://drive.google.com/file/d/XXX/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
try:
    df = pd.read_csv(r'C:\Users\1\DATA\masterskaya_LinkedIn_2023_05.csv')
except:
    df = pd.read_csv(url, index_col=0)

df.head(5)

,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants
0,Data Analyst,"['Basel', 'Basel', 'Switzerland']",Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,Staffing & Recruiting,11-50,About the job\n \n\n \n ...,1 week ago,47.0
1,Data Analyst - Logistics,"['Coventry', 'England', 'United Kingdom']",Coventry,United Kingdom,On-site,Resolute Recruitment,NaN,NaN,About the job,1 week ago,NaN
2,Data Analyst - Logistics,"['Coventry', 'England', 'United Kingdom']",Coventry,United Kingdom,On-site,Resolute Recruitment,NaN,NaN,About the job\n \n\n \nData Analyst - L...,1 week ago,NaN
3,Data Analyst (Space & Planning),"['South Molton', 'England', 'United Kingdom']",South Molton,United Kingdom,On-site,Mole Valley Farmers,NaN,NaN,About the job\n \n\n \nSalary: To be di...,1 week ago,NaN
4,Data Analyst,"['Lugano', 'Ticino', 'Switzerland']",Lugano,Switzerland,On-site,FORFIRM,NaN,NaN,About the job\n \n\n \nFORFIRM is provi...,2 weeks ago,NaN

In [94]:
df.info()
df.posted_date.unique ()

<class 'pandas.core.frame.DataFrame'>
Index: 998 entries, 0 to 997
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        998 non-null    object
 1   area             998 non-null    object
 2   city             998 non-null    object
 3   country          998 non-null    object
 4   workplace        930 non-null    object
 5   company_name     996 non-null    object
 6   industry         964 non-null    object
 7   company_size     963 non-null    object
 8   job_description  998 non-null    object
 9   posted_date      998 non-null    object
 10  applicants       838 non-null    float64
dtypes: float64(1), object(10)
memory usage: 93.6+ KB

array(['1 week ago', '2 weeks ago', '6 days ago', '3 weeks ago',
       '2 days ago', '1 day ago', '4 days ago', '4 weeks ago',
       '3 days ago', '5 days ago', '12 minutes ago', '29 minutes ago',
       '5 hours ago', '8 hours ago', '6 hours ago', '9 hours ago',
       '11 hours ago', '12 hours ago', '7 hours ago', '10 hours ago'],
      dtype=object)

–ù–∞ –¥–∞–Ω–Ω–æ–º —ç—Ç–∞–ø–µ –º—ã –∑–∞–≥—Ä—É–∑–∏–ª–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ —Ñ–∞–π–ª –¥–∞–Ω–Ω—ã—Ö, –¥–∞–ª–µ–µ –ø–æ—Å–ª–µ–¥—É–µ—Ç –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö.

### –ü—Ä–æ–≤–µ—Ä–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã

In [95]:
# –ø—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –ø–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
print('–ù–∞–π–¥–µ–Ω–æ',df.duplicated().sum(),'–ø–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤')
df = df.drop_duplicates()

–ù–∞–π–¥–µ–Ω–æ 111 –ø–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [96]:
# –ø—Ä–æ–≤–µ—Ä–∏–º –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã 
dpl=df.duplicated(subset=['job_title', 'company_name','city']).sum()
print('–ü—Ä–∏ –ø–æ–∏—Å–∫–µ –ø–æ —Å–≤—è–∑–∫–µ –Ω–∞–∑–≤–∞–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–∏ –∏ –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏—è, –Ω–∞–π–¥–µ–Ω–æ',dpl, '–Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤')

–ü—Ä–∏ –ø–æ–∏—Å–∫–µ –ø–æ —Å–≤—è–∑–∫–µ –Ω–∞–∑–≤–∞–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–∏ –∏ –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏—è, –Ω–∞–π–¥–µ–Ω–æ 8 –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [97]:
df = df.drop_duplicates(subset=['job_title', 'company_name'])

–ù–∞ —ç—Ç–æ–º —ç—Ç–∞–ø–µ –±—ã–ª–æ –≤—ã—è–≤–ª–µ–Ω–æ 111 –ø–æ–ª–Ω—ã—Ö –∏ 96 –Ω–µ –ø–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

### –û–±—Ä–∞–±–æ—Ç–∞–µ–º –ø—Ä–æ–ø—É—Å–∫–∏.

In [98]:
df.isna().sum()

job_title            0
area                 0
city                 0
country              0
workplace           59
company_name         2
industry            30
company_size        31
job_description      0
posted_date          0
applicants         125
dtype: int64

In [99]:
# –£–¥–∞–ª–∏–º –∫–æ–º–ø–∞–Ω–∏–∏ –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è
df = df.dropna(subset=['company_name'])

In [100]:
# –∑–∞–ø–æ–ª–Ω–∏–º –Ω—É–ª—è–º–∏ –∫–æ–ª–∏—á–µ—Å–≤—Ç–æ –ø—Ä–µ—Ç–µ–Ω–¥–µ–Ω—Ç–æ–≤
df['applicants'] = df['applicants'].fillna(0)

In [101]:
# –ø–æ—Å—Ç–∞–≤–∏–º –∑–∞–≥–ª—É—à–∫—É –ø—Ä–æ–ø—É—Å–∫–æ–≤ "not_set" –¥–ª—è workplace, company_size, industry
df['workplace'] = df['workplace'].fillna("not_set")
df['company_size'] = df['company_size'].fillna("not_set")
df['industry'] = df['industry'].fillna("not_set")
#–ø—Ä–æ–≤–µ—Ä–∏–º
df.isna().sum()

job_title          0
area               0
city               0
country            0
workplace          0
company_name       0
industry           0
company_size       0
job_description    0
posted_date        0
applicants         0
dtype: int64

In [102]:
print("–ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –æ—Å—Ç–∞–ª–æ—Å—å",df.shape[0]," –∑–∞–ø–∏—Å–µ–π")

–ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –æ—Å—Ç–∞–ª–æ—Å—å 789  –∑–∞–ø–∏—Å–µ–π

–ù–∞ —ç—Ç–æ–º —ç—Ç–∞–ø–µ –º—ã –æ–±—Ä–∞–±–æ—Ç–∞–ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏, –¥–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤ workplace, company_size, industry –∏—Ö –∑–∞–º–µ–Ω–∏–ª–∏ –Ω–∞ –∑–∞–≥–ª—É—à–∫—É "not_set"
–í –∏—Ç–æ–≥–µ –æ—Å—Ç–∞–ª–æ—Å—å 789 –∑–∞–ø–∏—Å–µ–π –±–µ–∑ –ø—Ä–æ–ø—É—Å–∫–æ–≤.

### –£–¥–∞–ª–∏–º –Ω–µ —Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω—ã–µ –∑–∞–¥–∞–Ω–∏—é –≤–∞–∫–∞–Ω—Å–∏–∏.

–ó–∞–¥–∞—á–∞ –Ω–µ–ø—Ä–æ—Å—Ç–∞—è, –µ—Å–ª–∏ –ø—Ä–æ—Å—Ç–æ –≤—ã–±—Ä–∞—Ç—å –≤—Å–µ—Ö –¥–∂—É–Ω–æ–≤, –ø–æ–ª—É—á–∏–º –≤—Å–µ–≥–æ 59 –∑–∞–ø–∏—Å–µ–π, –±–¥—É–µ–º –∏–¥—Ç–∏ –æ—Ç –æ–±—Ä–∞—Ç–Ω–æ–≥–æ, –µ—Å–ª–∏ –Ω–µ—Ç —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è middle
senior –∏–ª–∏ teamlead, —Å—á–∏—Ç–∞–µ–º –≤–∞–∫–∞–Ω—Å–∏—é –ø—Ä–∏–≥–æ–¥–Ω–æ–π –¥–ª—è –¥–∂—É–Ω–∞, –¥–ª—è —ç—Ç–æ–≥–æ –¥–æ–±–∞–≤–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –∏ –±—É–¥–µ–º –∑–∞–¥–∞–≤–∞—Ç—å –µ–≥–æ 0 –∏–ª–∏ 1

In [103]:
df.job_title.unique ()

array(['Data Analyst', 'Data Analyst - Logistics',
       'Data Analyst (Space & Planning)', 'Data Analyst - Hybrid Working',
       'Commercial Data Analyst', 'Asset Data Analyst',
       'Data Analyst - Hybrid', 'Data Analyst (FT)', 'Data Analyst H/F',
       'Data Analyst II', 'Data Analyst (9 Months FTC)',
       'Business Intelligence Analyst', 'Data Analyst (F/H)',
       'BI Analyst', 'Data Analyst Associate', 'Product Data Analyst',
       'Graduate Data Analyst', 'Digital Data Analyst',
       'Business Intelligence Analyst Junior', 'Data analyst H/F',
       'Data Analyst (m/f/d)', 'Analytics Consultant', 'Data Analyst F/H',
       'Consultor BI', 'Statistical Data Analyst',
       'Digital Data Analyst (H/F)',
       'Data Analyst - ‚Ç¨60,- per hour - Amsterdam based',
       'Data & Analytics Senior Analyst',
       'JUNIOR DATA ANALYST ‚Äì Aerospace', 'Data Analyst - Operations',
       'Data Analyst (H/F)', 'BUSINESS INTELLIGENCE ANALYST',
       'Business Intelligence Analyst (m/w/d)',
       'Analista superior de datos', 'Junior Data Analyst',
       'Web Data Analyst F/H', 'BUSINESS ANALYST_Power BI',
       'Junior Data Analyst Power BI - CONTRATO 6 MESES',
       'Data Analyst - Milano', 'Data Analyst (Engineer)',
       'Data Analyst H/F _ CDD', 'Data Analyst - Analyste de donn√©es',
       'Analista de datos',
       'BI Analyst, Power BI Champion, CEE based in Warsaw',
       'Data Analyst Tableau', 'Data-analist', 'SQL/Data Analyst (m/w/d)',
       'Analityk danych', 'Data analist', 'Data Analyst Reporting',
       'Junior Data Analyst Sustainability', 'Data Analyst (h/f) - CDI',
       'CDI - Data Analyst H/F - Yves Rocher', 'Senior Data Analyst',
       'Data Analyst - H/F', 'Retail Business Analyst',
       'Global Onsite Data Analyst (m/w/d)', 'BI Analyst (m/w/d)',
       'BI-Analyst (m/w/d)', 'Data Analyst - Confirm√©.e',
       'Data Analyst (m/w/d)', 'Data analyst', 'Data Analyst  H/F',
       'Data Analyst-(H/F)', 'Data & Analytics Analyst - BARI, ROMA',
       'Junior Data Analyst/Associate (m/f/d)',
       'Consulente Applicativo BI', 'Business Intelligence Consultant',
       'Data Analysis and Reporting Team Lead',
       'Junior Data Analyst / Business Intelligence Expert (GN)',
       'Business Data Analyst-(H/F)',
       'BI Analyst - Tableau or other BI Tools',
       'Commercial Data Analyst Travel', 'Junior/Mid Data Analyst',
       'Data Science Analyst', 'Junior Data Analist',
       'Data Analyst - Hybrid - Permanent', 'Data Analyst - Finance',
       'Data Analyst / Decision Scientist, Marketing',
       '(Junior) Consumer Business Intelligence Analyst (m/w/d)',
       'Principal Data Analyst - Growth', 'Insight Analyst (m/f/x)',
       'Data Analyst Costing', 'Business Data Analyst (m/w/d)',
       'Information Analyst', 'Data Analist CBR',
       'POWER BI / DATA ANALYST (M/W/D)', 'Junior Master Data Analyst',
       'Data Analyst - Transportation', 'Data Analyst Power BI F/H',
       'ANALYSTE DES DONNEES (H/F)',
       'Consultant Power BI ‚Äì Data Analyst (F/H)', 'Data Analist',
       'Conversion Master Data Analyst to Procter & Gamble',
       'Consultant (m/w/d) - Business Intelligence',
       'Monitoring & Data Analyst (Solar PV)',
       'Data Analyst / Data Scientist (m/f/d)',
       'Data Analyst ‚Äì Web & App (m/w/d)', 'Data Governance Analyst',
       'Business Intelligence Consultant/Lead', 'Sales Data Analyst',
       'Salesforce Data Analyst (f/m/d)', 'Consultant BI Lyon - H/F',
       'Sales & Business Analyst',
       'Corporate Product Master Specialist/Data Analyst',
       'CONSULTANT BI / MSBI  F/H', 'Data Analyst (Slovakia) IRC183410',
       'BI Analyst (m/w/d) Marketing', 'Data Analyst Power BI (m/w/d)',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Data Analyst (Assortment)',
       'Wavemaker I Data Analyst with Python', 'Data Analyst Telco',
       'Junior Insight Analyst', 'Data Analyst H/F H/F',
       'Online Data Analyst', 'Data Analyst (m/w/d) im Controlling',
       'BI Consultant', 'Data Analyst (Mobile)', 'Data Analyst (m/f/x)',
       'Data Analyst - Scores & Etudes',
       'Data Analyst, Metrics & Reporting',
       'Alternance - Data Analyst - Data ETL & Visualisation (h/f/d)',
       'Customer Data Platform Analyst', 'CDI - Data Analyst F/H',
       'Analytics Consultant ‚Äì McKinsey Digital',
       'Senior Data Analyst (f/m/d) - onsite or remote / home office',
       'Analytics Consultant, Power BI', 'Senior Datenanalyst (m/w/d)',
       'CRM Data Analyst (m/w/d)', 'Data Analyst Assessor',
       'Medior Data analyst', 'Data Analyst M/F',
       'Analista de datos dept de elaborados (Guissona)',
       'Data Analyst - Alternance - Boursorama-(H/F)',
       'Junior Data Scientist/Analyst (m/w/d)',
       'Operations Data Analyst (They/She/He)',
       'Senior Business Intelligence Consultant', 'Data Scientist',
       'Data Analyst Marketing Strat√©gique - Boursorama-(H/F)',
       'Business Intelligence Consultant (m/w/d) Power BI oder Qlik',
       'Dataanalytiker',
       'Packaging Specification Technologist and Data Analyst',
       'Junior / Medior Web Data Analyst', 'Senior BI Consultant',
       'Data Governance analyst', 'Quality Data Analyst (m|w|d)',
       'Digital Data Analist (32-38 uur)', 'Data scientist / analytiker',
       'DATA ANALYST PILOTAGE OPERATIONNEL H/F', 'Insights Analyst',
       'Junior Insights Analyst (w/m/d)', 'Data Scientist - Data Analyst',
       'BI-consulent', 'Inhouse BI Consultant / BI Spezialist (m/w/d)',
       '(ESG) Data Analyst (w/m/d)',
       'Data Analyst - Marketing & Communications Insight',
       'Informatie Analist', 'Data Analyst:in',
       '(Senior) Consultant Transaction Analytics (f/m/d)',
       'Job | Data Analyst E&E&P | Brussel',
       'Clinical Data Insights Analyst (Medior/Senior)',
       'Business Intelligence Consultant (M/W/D)', 'Data Analyst (M/W/D)',
       'Data Analyst Return Solutions', 'Reliability Data Analyst',
       'Data Analyst (Bangkok Based, Relocation Provided)',
       'Analyste de donn√©es pi√®ces de rechange automobile',
       'Consultant AI & Data Analytics / Data Science (m/w/d)',
       'Biostatistiker (m/w/d)', 'Datov√Ω analytik/v√Ωvoj√°≈ô',
       'Sozialwissenschaftler*in als Data Analyst (w/m/d)',
       'Customer Insights Analyst (Bangkok Based, Relocation Provided)',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Berlin',
       'Analityk danych internetowych (wszystko.pl)',
       'Danish Language Data Analyst - Barcelona', 'Datov√Ω analytik',
       'Data Analist - startersfunctie (Dutch speaking)',
       'Privacy Data Analyst - Fluent German',
       'Data Analyst / Decision Scientist, Growth',
       'Senior Data Analyst (Bangkok Based, Relocation Provided)',
       'Informatieanalist Cloud-applicaties',
       'Danish Language Data Analyst in Barcelona',
       'Data Analyst (w/m/d) - Kurse',
       'Data Analyst in the area of IIoT / KI / Predictive Maintenance (m/f/d)',
       'Data Analyst (Marketing & Comms)', 'Data Analyst (m/f)',
       'Financial / Data Analyst', 'Data Analyst Export',
       'Junior project manager - Categoria Protetta',
       'Junior Business Analyst', 'Softwareentwickler (m/w/d)',
       'Data analyst d√©butant(e)',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenan ...',
       'Data Engineer/ Data Analyst', 'DATA ANALYST',
       'Data Analyst - Marketing - E-commerce',
       'Data Analyst (Product Data Analyst)',
       'Data Analyst - BSEU Raw Materials Planning', 'data analyst',
       'DATA ANALYST - H/F',
       'Statistical Analyst (Bangkok Based, Relocation Provided)',
       'Medewerker verkoop binnendienst', 'B√úROKRAFT (M/W/D) IN GARCHING',
       'Mitarbeiter Marketing (m/w/d)',
       'Ingenieur Softwareentwicklung (m/w/d)',
       'Projektmanager / Projektleiter Automotive (m/w/d)',
       'ESG Analyst - Real Estate (m/w/d)',
       'APM Software Development & Operations', 'Accountant',
       'Mitarbeiter Marketing B2B (m/w/d)',
       'Charg√© de projets Sustainability F/H en apprentissage',
       'Test Engineer', 'Systemutvecklare', 'IT-Spezialist (m/w/d)',
       'Projektleitung Seiltechnik', 'S√§ljare till Skaraborgsomr√•det',
       'Medewerker Cursusco√∂rdinatie', 'Chef de Projet R√©habilitation',
       'Charg√© de Projets √âcologue H/F (56)', 'BI Developer',
       'Commercial Analyst', 'Reporting Specialist', 'Product Manager',
       'IT Support Analyst, Global IT', 'Junior Sales Analyst',
       'Data Business Analyst (m/f)', 'Infrastructure Analyst',
       'Marketing Analyst (Data Analytics and BI)',
       'BI Analyst (Pricing)', 'Data Visualization',
       'Chemical development process  Lab analyst', 'DATA ANALYST IT',
       'Business Intelligence Developer',
       'Data Analyst, SQL/SSIS {Finance', 'Policy Analyst',
       'Composiet medewerker', 'Performance Engineer',
       'Web Analyst F/H en CDI', 'Sales Specialist',
       '(Junior) Data Scientist', 'Process Analyst', 'Business Analyst',
       'Data Scientist, Marketing Analytics', 'Data Analyst - Poland',
       'Consultant.e BI', 'Business Intelligence Developer EEMEA',
       'IT Business Analyst (Data)', '(Junior) Business Analyst (f/m/d)',
       'Business Intelligence-Architekt:in', 'System Developer GIS',
       'Analista de Software', 'Responsable Data Visualisation MS BI',
       'Consultor/a Selecci√≥n Ingenier√≠a', 'Assistant, HR Data Analytics',
       'IT Business Analyst for Human Resources',
       'Business Data Analyst Lead\xa0H/F', 'Market Intelligence Analyst',
       'Data Engineer', 'Business Analyst Junior',
       'Digital Analytics & Engagement Expert',
       'SENIOR BUSINESS REPORTING SPECIALIST', 'Business & Data Analyst',
       'Data Analyst (h/f)', 'BI Specialist',
       'Business Analyst (f/m/diverse) - Hybrid',
       'Center Operations Specialist', 'Business Analyst IT',
       'IT CRM & Marketing Solutions Specialist',
       'Junior Tech Business Analyst', 'Data Technology Analyst',
       'Chef de Projet Data F/H', 'NRS13700 Grade V, Data Analyst',
       'IT Data Analyst', 'DATA SCIENTIST - MARKETING',
       'Data Analyst - Flanders Digital',
       '(Junior) Application Specialist eCommerce (m/f/d)',
       'Data Scientist (all genders)', 'Data & Analytics Consultant',
       'Business intelligence expert', 'Junior Business Analyst (m/w/d)',
       'Data Analytics Engineer', 'Business Analyst DATA (H/F)',
       'Data Business Analyst', 'Analista Ecommerce, Web y App',
       'Demand & Inventory Data Scientist', 'Data Visualization Expert',
       'Supply Planner F/H', 'Data Program Manager',
       'INGENIERO/A analista de datos Big Data', 'Data Steward',
       'Data Engineer (m/f/n)',
       'Business Analytics and Intelligence Analyst', 'Process Engineer',
       'Data Science & Analytics Specialist (f/m/x)', 'Data Manager',
       'Data Engineer, Business Intelligence', 'Junior CRM Analyst',
       'Consultor√≠a | Data & Analytics Hub M√°laga',
       'Data platform Product Owner', 'Analyst Developer',
       'Digital Marketing Specialist',
       'Analyst - Marketing Effectiveness', 'Social Media Data Analyst',
       'Product Control Analyst', 'Data Analyst - Edtech',
       'Finance - IT Functional Analyst', 'Data Scientist - Paris',
       'Ing√©nieur Senior BI F/H', 'Data Management Specialist',
       'Data Specialist', 'Business Analyst - Supply Chain',
       'Data Analyst (Legal Services)', 'Business Analyst Middle',
       'BUSINESS DATA ANALYSTE Senior H/F', 'DBA SQL',
       'DATA ANALYST_FROSINONE (FR)', 'Data Consultant',
       'Consultant - Data Visualization Specialist',
       'Analyst (m/f/d) Business Intelligence & Analytics',
       'Gestor/a Aprovisionamiento - Valladolid',
       'Data and Analytics - IT Product Owner', 'Demand Planner',
       'Logistics Development Analyst', 'Data Analyst SAS - H/F',
       'Finance Data Analyst', 'Senior Digital Analyst (*all genders)',
       'Business Intelligence Engineer',
       'Business Analyst Specialist for Data Warehouse',
       'Data Analyst / Mathematiker / Statistiker (m/w/d)',
       'Market Research Analyst (Remote - within Europe)',
       'BUSINESS ANALYST', 'Senior Data Scientist', 'Analyst',
       'Junior Finance Analyst', 'SAP Finance Analyst',
       'HR Digital Transformation',
       'Data Analyst - Digital Marketing (all genders)',
       '(Junior) Project Analyst (m/f/d)', 'Supply Chain Analyst',
       'B2B Analyst, Bulgaria', 'IT Solution Analyst (m/f/n)',
       'Business Analyst (m/w/d)', 'Data Architect',
       'Business Specialist', 'Business Analyst (Junior Data Analyst)',
       'Business Intelligence Associate', 'Salesforce Analyst',
       'Data Analyst- 6 Month',
       'Inform√°tico/a programador/a analista de datos',
       'Business Analyst BI', 'Cognos and Power BI Reporting Developer',
       'Business Analyst - Pricing', 'Montblanc - Business Analyst H/Ft',
       'Online Data Analyst (m,f,d)', 'Junior STEM Analyst',
       'Cient√≠fico Inteligencia Artificial', 'Software Engineer',
       'Jr. Data Scientist',
       'üì¢ [Full Remote] BI Engineer - Startup Data Marketing - H/F',
       'Business Insights Analyst (NJE)',
       'Senior Reporting and Data Specialist',
       'Information Technology Support Specialist',
       'Business Analyst (Sales) (m/w/d)',
       '(Junior) Business Analyst (w/m/d)',
       'Business Analytics Specialist', 'Business Analyst (F/H)',
       'Data Engineer (SQL, BI)',
       'Client Data Analyst (Client Intelligence Specialist - Fully remote) )',
       'Digital Data Analyst Pharma (m/f/d)',
       'Trading and Business Support Analyst',
       'Associate Database Analyst---Clinical Database Management',
       'Senior Product Analyst', 'AFC Data Analyst',
       'Consultant Data & BI ‚Äì H/F', 'Data Entry',
       'Business Analyst (f/m)', 'Junior Analyst | H/F',
       'Client Intelligence Specialist', 'team Business Analyst',
       'Ecommerce Web Analyst', 'Applications Support Analyst (f/m/d)',
       'Information Technology Engineer', 'Data Analyst/ETL Developer',
       'Head of Analytics', 'Digital Data Analytics',
       '360 Data Product Owner', 'Online Data Analyst - France',
       'DevOps Engineer', 'Analyste Data -(H/F)',
       'Business Intelligence Specialist (w/m/d)',
       'Junior Data Analytics Consultant', 'Technical Data Analyst',
       'Junior Software Developer Engineer', 'Senior BI Data Engineer',
       'Pricing Analyst', 'Demand Planning Analyst',
       'Supply Chain Data Analyst',
       'V.I.E Performance Management  Analyst',
       'Analytics Consultant - Marketing Effectiveness',
       'Business Analyst (English Speaking)',
       'Business Analyst - Young Graduate - Academy Program',
       'Data Scientist H/F_CDI', 'Data Engineer (m/f/d)',
       'Business Analyst H/F', '[ALT] Data analyst Assistant - H/F',
       'Data Scientist (f/m/d)', 'Banking Operations Specialist',
       'Finance Data Analyst (m/w/d) - Gigafactory Berlin',
       'Master Data Quality Analyst', 'Stage - Data Analyst H/F',
       'Data Analyst - Client Insight', 'Traineeship data analyst',
       'Data Analyst f√ºr Customer Analytics (m/w/d)',
       'Client Insights Data Analyst - SQL, Python, Data bricks',
       'Data analyst en alternance (94) DCF/AB - F/H',
       'Data Analyst, Product Intelligence #SWX',
       'Customer Data Analyst (m/w/d) Motorsport',
       'Data Analyst Delivery Operations', 'Stage | Data Analyst',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenance (m/w/d)',
       'Semiconductor Data Analyst', 'Analista funzionale',
       'Programmatore / Analista funzionale',
       'Technical Analyst for Databricks (all genders)',
       'Lead Tech et DATA VIZ (H/F)',
       'Senior Expert Innovation Analytics Performance',
       'SQL Database Administrator',
       'Analista Dati di Geodesia - CATEGORIA PROTETTA',
       'Business Analyst Pricing', 'Data Analyste',
       'BI & data reporting Expert',
       'Data Analyst - Global Marketing H/F',
       'Data Engineer-Imprescindible experiencia en PowerCenter',
       'Junior Marketing Analyst (Munich)', 'Data Scientist (Credit)',
       'Senior BI Developer (SQL Server) ‚Äì (Remote)',
       'BECARIO/A DATA ANALYST CLIENTE', 'Functional Analyst',
       'Technical Business Analyst',
       'Charg√© de projet validation st√©rilisation',
       'Junior Data Processing Specialist', 'Front-end Developer',
       'Data analyst en alternance (H/F) - Boulogne-Billancourt',
       'ALTERNANCE - Assistance Data Analyst et Reporting RH F/H',
       'Data Analyst (Fraud)*', 'ANALISTA DE PROYECTO DIGITALIZACI√ìN',
       'Data Analyst - Customer Management Domain',
       'Data Analyst - Pilotage transformation Cloud-(H/F)',
       'Business Intelligence-Analyst:in', 'Analyst*in (m/w/d)',
       'Business Analyst Consultant', 'Business Process Analyst',
       'IT Strategy and Reporting Analyst (m/f)',
       'Data Analyst (m/f/d) - Global Sea Logistics Systems',
       'IT Research Analyst', 'Product Data Analyst with English',
       'Data Scientist & Analyst exp√©riment√©',
       'Data Analyst H/F - Alternance 12 ou 24 mois',
       'Associate Data Manager', 'Data Scientist (H/F)',
       'Credit - Data Analyst (Product)', 'DATA ENGINEER REFERENT',
       'Planning & Control Analyst', 'Business Analyst - IT',
       'Associate Data Scientist', 'BI/Reports Developer',
       'Digital Analyst', 'Associate - Data Research',
       'Business Analyst & Planning', 'Junior Business Analyst - Triodos',
       'Mid Data Engineer', 'Global HRIS Specialist',
       '(Junior) Systems Business Analyst (f/m/d)',
       'Operational Analyst (Hybrid)', 'Data Engineer Industry 4.0',
       'Associate - McKinsey Digital',
       'Data Analyst - Global Marketing Agency',
       'Data Analyst and Business Development Specialist',
       'Digital Back office specialist - TEMPO DETERMINATO',
       'Junior Project Manager', '(Junior) Project Coordinator',
       'IT Analityk', 'DBA', 'Analyst (Strategy, Policy and Innovation)',
       'Junior Data Scientist', 'Developer',
       'Senior Financial Analyst (M/F)', 'Junior Developer',
       'Chef.fe de Projet Data et BI F/H', 'BUSINESS ANALYST (h/f/x) CDI',
       'Business Analyst - Manufacturing & Supply Chain',
       'Supply Officer & Data Analyst - Systems & Equipment (d/f/m)',
       'Junior Business Analyst - back office team',
       'Business Intelligence Specialist',
       'Global Manager Data Analytics',
       'Data Science and Analytics Engineer M/F', 'Research Analyst',
       'Operations Analyst - H/F',
       'Junior SQL Server Database Administrator',
       'Inventory Analytics Manager',
       'Data Analyst Professional Programme', 'DATA ENGINEER F/H',
       'Sviluppatore front-end', 'Data Reporting Engineer',
       'R√©f√©rent Applicatif Business Intelligence F/H',
       'Analyst - FRENCH speaking -', 'Aftersales Reporting Specialist',
       'Data Scientist/Data Engineer, Matching', 'Data Engineer Big Data',
       'ANALISTA (H/M) FINANCIERO / FP&A REPORTING',
       'Business Data Analyst Evolutions (2300046Z)',
       'CDI - Chef de Projet Data/Analytique F/H',
       'Analyst - Application Development Analytics',
       'Analista Funzionale IT (Junior)', 'Tender Office Specialist',
       'Business Analyst Internship', 'Salesforce Business Analyst',
       'Data Analyst - Lisboa e Porto - Campo Grande',
       'Market Analyst- European Power Market', 'FP&A Analyst',
       'Solution Owner, Enterprise Solutions, IKEA Industry AB',
       'QE Manager', 'Internet Data Evaluator | Work-from-home',
       'Analityk', 'Data Engineer H/F', 'Junior Analyst - Data Process',
       'Freelance contracting project // Data Product Owner (m/f/d) - Remote',
       'Developer (m/f/n)', 'Data Scientist Transport & Logistics',

–°–æ–∑–¥–∞–¥–∏–º –¥–≤–∞ –º–∞—Å—Å–∏–≤–∞ (numpy.ndarray) r1 –∏ r2, —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö job_title, —á—Ç–æ–±—ã –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –∫–∞–∫–∏–µ job_title —É–¥–∞–ª—è—Ç—Å—è –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ –≤ –∏—Ç–æ–≥–µ:

In [104]:
r1 = df.job_title.unique()

In [105]:
def check_word(row):
    if (words[0] in row['job_title'].lower()):
        if (words[2] in row['job_title'].lower()): 
            return 1
        else: 
            return 0
    elif words[1] in row['job_title'].lower():
        if (words[2] in row['job_title'].lower()): 
            return 1
        else: 
            return 0
    elif words[3] in row['job_title'].lower():
        if (words[2] in row['job_title'].lower()): 
            return 1
        else: 
            return 0
    elif words[4] in row['job_title'].lower():
        if (words[2] in row['job_title'].lower()): 
            return 1
        else: 
            return 0
    elif words[2] in row['job_title'].lower():
        return 1
  
    
words= ['middle','team lead','junior','senior','medior']
df['for_junior'] = df.apply(lambda row: check_word(row), axis=1)
df = df[~(df['for_junior'] == 0)]
print("–ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –æ—Å—Ç–∞–ª–æ—Å—å",df.shape[0]," –∑–∞–ø–∏—Å–µ–π")

–ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –æ—Å—Ç–∞–ª–æ—Å—å 762  –∑–∞–ø–∏—Å–µ–π

In [106]:
#–°–æ–∑–¥–∞–µ–º —Å–ø–∏—Å–æ–∫ r2 - –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è job_title:
r2 = df.job_title.unique()

–í—ã–≤–æ–¥–∏–º job_title, –∫–æ—Ç–æ—Ä—ã–µ —É–¥–∞–ª–∏–ª–∏ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞.

In [107]:
# –í—ã–≤–æ–¥–∏–º —ç–ª–µ–º–µ–Ω—Ç—ã –∫–æ—Ç–æ—Ä—ã–µ –µ—Å—Ç—å –≤ r1, –Ω–æ –Ω–µ—Ç –≤ r2:
np.setdiff1d(r1,r2)

array(['(Senior) Consultant Transaction Analytics (f/m/d)',
       'BUSINESS DATA ANALYSTE Senior H/F', 'Business Analyst Middle',
       'Clinical Data Insights Analyst (Medior/Senior)',
       'Consultant Senior Microsoft BI - Power BI Expert H/F',
       'Data & Analytics Senior Analyst',
       'Data Analysis and Reporting Team Lead', 'Ing√©nieur Senior BI F/H',
       'Medior Data analyst', 'SENIOR BUSINESS REPORTING SPECIALIST',
       'Senior BI Consultant', 'Senior BI Data Engineer',
       'Senior BI Developer (SQL Server) ‚Äì (Remote)',
       'Senior Business Intelligence Consultant', 'Senior Data Analyst',
       'Senior Data Analyst (Bangkok Based, Relocation Provided)',
       'Senior Data Analyst (f/m/d) - onsite or remote / home office',
       'Senior Data Scientist', 'Senior Datenanalyst (m/w/d)',
       'Senior Digital Analyst (*all genders)',
       'Senior Expert Innovation Analytics Performance',
       'Senior Financial Analyst (M/F)', 'Senior Product Analyst',
       'Senior Reporting and Data Specialist'], dtype=object)

–ù–∞ –¥–∞–Ω–Ω–æ–º —ç—Ç–∞–º–µ –º—ã —É–¥–∞–ª–∏–ª–∏ –≤–∞–∫–∞–Ω—Å–∏–∏, –Ω–µ –ø–æ–¥—Ö–æ–¥—è—â–∏–µ –¥–ª—è Junior.

### –ü—Ä–∏–≤–µ–¥–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –¥–∞—Ç–æ–π –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫ –≤–∏–¥—É, –ø—Ä–∏–≥–æ–¥–Ω–æ–º—É –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏.

In [108]:
df.posted_date.unique ()

array(['1 week ago', '2 weeks ago', '6 days ago', '3 weeks ago',
       '2 days ago', '1 day ago', '4 days ago', '4 weeks ago',
       '3 days ago', '5 days ago', '12 minutes ago', '29 minutes ago',
       '5 hours ago', '8 hours ago', '6 hours ago', '9 hours ago',
       '11 hours ago', '12 hours ago', '7 hours ago', '10 hours ago'],
      dtype=object)

–í —Ç–∞–∫–æ–º –≤–∏–¥–µ –Ω–∞–º –Ω–µ—É–¥–æ–±–Ω–æ —Ä–∞–±–æ—Ç–∞—Ç—å —Å–æ —Å—Ç–æ–ª–±—Ü–æ–º, —Ç—É—Ç –µ—Å—Ç—å –∏ –º–∏–Ω—É—Ç—ã –∏ –Ω–µ–¥–µ–ª–∏ –∏ –¥–Ω–∏. –ü—Ä–∏–≤–µ–¥–µ–º –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ timedelta.

In [109]:
def search(x):
    if isinstance(x, int):
        time=x
        return time
    elif 'week' in x:
        time = timedelta(int(x[0])*7)
        return time
    elif 'day' in x:
        time = timedelta(int(x[0]))
        return time
    elif 'hours' in x:
        time = timedelta(hours=int(x[0:2]))
        return time
    elif 'minutes' in x:
        time = timedelta(minutes=int(x[0:2]))
        return time
    return x

df['posted_date'] = df['posted_date'].apply(search)

df.posted_date.unique ()

<TimedeltaArray>
[ '7 days 00:00:00', '14 days 00:00:00',  '6 days 00:00:00',
 '21 days 00:00:00',  '2 days 00:00:00',  '1 days 00:00:00',
  '4 days 00:00:00', '28 days 00:00:00',  '3 days 00:00:00',
  '5 days 00:00:00',  '0 days 00:12:00',  '0 days 00:29:00',
  '0 days 05:00:00',  '0 days 08:00:00',  '0 days 06:00:00',
  '0 days 09:00:00',  '0 days 11:00:00',  '0 days 12:00:00',
  '0 days 07:00:00',  '0 days 10:00:00']
Length: 20, dtype: timedelta64[ns]

In [110]:
df['date']=datetime.now()
for i in range(len(df)):
    df['date'].iloc[i]= datetime.today() - df.posted_date.iloc[i]   
df.head(5)

,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants,for_junior,date
0,Data Analyst,"['Basel', 'Basel', 'Switzerland']",Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,Staffing & Recruiting,11-50,About the job\n \n\n \n ...,7 days,47.0,NaN,2024-02-12 16:06:39.175584
1,Data Analyst - Logistics,"['Coventry', 'England', 'United Kingdom']",Coventry,United Kingdom,On-site,Resolute Recruitment,not_set,not_set,About the job,7 days,0.0,NaN,2024-02-12 16:06:39.176582
3,Data Analyst (Space & Planning),"['South Molton', 'England', 'United Kingdom']",South Molton,United Kingdom,On-site,Mole Valley Farmers,not_set,not_set,About the job\n \n\n \nSalary: To be di...,7 days,0.0,NaN,2024-02-12 16:06:39.176582
4,Data Analyst,"['Lugano', 'Ticino', 'Switzerland']",Lugano,Switzerland,On-site,FORFIRM,not_set,not_set,About the job\n \n\n \nFORFIRM is provi...,14 days,0.0,NaN,2024-02-05 16:06:39.177600
5,Data Analyst - Logistics,"['Southampton', 'England', 'United Kingdom']",Southampton,United Kingdom,On-site,"Butler, Bridge & May",not_set,not_set,About the job\n \n\n \nLocation: Southa...,6 days,0.0,NaN,2024-02-13 16:06:39.177600

–ù–∞ —ç—Ç–æ–º —ç—Ç–∞–ø–µ –º—ã –ø–µ—Ä–µ–≤–µ–ª–∏ –≤—Ä–µ–º—è –≤ timedelta, —Å–º–µ—â–µ–Ω–∏–µ –æ—Ç –¥–∞—Ç—ã –≤—ã–≥—Ä—É–∑–∫–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞ –∏ –¥–æ–±–∞–≤–∏–ª–∏ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü —Ä–∞–∑–Ω–∏—Ü—ã —Ç–µ–∫—É—â–µ–≥–æ –≤—Ä–µ–º–µ–Ω–∏ –∏ –≤—Ä–µ–º–µ–Ω–∏ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏. –û–Ω –Ω–∞–º –ø—Ä–∏–≥–æ–¥–∏—Ç—Å—è –¥–ª—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö.

### –í—ã–¥–µ–ª–∏–º hard skills –∏–∑ –æ–ø–∏—Å–∞–Ω–∏—è –≤–∞–∫–∞–Ω—Å–∏–∏

In [111]:
#–£–∫–∞–∑—ã–≤–∞–µ–º —Å–ø–∏—Å–æ–∫ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –Ω–∞–≤—ã–∫–æ–≤:
word = ['sql', 'python', 'data visualization', 'tableau', 'power bi']

# –°–æ–∑–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è —Å–±–æ—Ä–∞ –Ω–∞–π–¥–µ–Ω–Ω—ã—Ö –≤ –æ–ø–∏—Å–∞–Ω–∏–∏ –≤–∞–∫–∞–Ω—Å–∏–∏ –Ω–∞–≤—ã–∫–æ–≤ –≤ —Å–ø–∏—Å–æ–∫:
def search_skills(rows):
    #–°–æ–∑–¥–∞–µ–º –ø—É—Å—Ç–æ–π —Å–ø–∏—Å–æ–∫:
    skills_list = []
    # –î–ª—è –∫–∞–∂–¥–æ–≥–æ –Ω–∞–≤—ã–∫–∞:
    for i in word:
        #–ü—Ä–æ–≤–µ—Ä—è–µ–º –µ—Å—Ç—å –ª–∏ –Ω–∞–≤—ã–∫ –≤ —Å—Ç—Ä–æ–∫–µ:
        if i in rows:
            # –ï—Å–ª–∏ –µ—Å—Ç—å –¥–æ–±–∞–≤–ª—è–µ–º –µ–≥–æ –≤ —Å–ø–∏—Å–æ–∫:
            skills_list.append(i)
    # –í–æ–∑–≤—Ä–∞—â–∞–µ–º —Å–ø–∏—Å–æ–∫:
    return skills_list

In [112]:
# –í—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –Ω–æ–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ - skills:
df['skills'] = df['job_description'].apply(lambda x: search_skills(x))

–î–∞–ª–µ–µ –µ—Å–ª–∏ —Å–ø–∏—Å–æ–∫ —Å–∫–∏–ª–æ–≤ —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ 2-—Ö –∏ –±–æ–ª–µ–µ –Ω–∞–≤—ã–∫–æ–≤, —Ä–∞–∑–æ–±—ä–µ–º —Å–ø–∏—Å–æ–∫ –Ω–∞ —Å—Ç—Ä–æ–∫–∏,
–≤ –∏—Ç–æ–≥–µ –ø–æ–ª—É—á–∏—Ç—Å—è —Å—Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ –æ–¥–Ω–æ–π –≤–∞–∫–∞–Ω—Å–∏–∏, —Å–∫–æ–ª—å–∫–æ –Ω–∞–≤—ã–∫–æ–≤ –æ–Ω–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç:

In [113]:
df = df.explode('skills', ignore_index=True) 
# ignore_index=True - —É–∫–∞–∑—ã–≤–∞–µ–º –¥–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã –∫–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ –ø–æ–ª—É—á–∏–ª–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–Ω–¥–µ–∫—Å
df.head(5)

,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants,for_junior,date,skills
0,Data Analyst,"['Basel', 'Basel', 'Switzerland']",Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,Staffing & Recruiting,11-50,About the job\n \n\n \n ...,7 days,47.0,NaN,2024-02-12 16:06:39.175584,NaN
1,Data Analyst - Logistics,"['Coventry', 'England', 'United Kingdom']",Coventry,United Kingdom,On-site,Resolute Recruitment,not_set,not_set,About the job,7 days,0.0,NaN,2024-02-12 16:06:39.176582,NaN
2,Data Analyst (Space & Planning),"['South Molton', 'England', 'United Kingdom']",South Molton,United Kingdom,On-site,Mole Valley Farmers,not_set,not_set,About the job\n \n\n \nSalary: To be di...,7 days,0.0,NaN,2024-02-12 16:06:39.176582,NaN
3,Data Analyst,"['Lugano', 'Ticino', 'Switzerland']",Lugano,Switzerland,On-site,FORFIRM,not_set,not_set,About the job\n \n\n \nFORFIRM is provi...,14 days,0.0,NaN,2024-02-05 16:06:39.177600,NaN
4,Data Analyst - Logistics,"['Southampton', 'England', 'United Kingdom']",Southampton,United Kingdom,On-site,"Butler, Bridge & May",not_set,not_set,About the job\n \n\n \nLocation: Southa...,6 days,0.0,NaN,2024-02-13 16:06:39.177600,NaN

In [114]:
# –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:
df.groupby(['country','skills'])['applicants'].count().reset_index()

                         country              skills  applicants
0                 Amsterdam Area  data visualization           1
1     Brussels Metropolitan Area  data visualization           1
2                         France  data visualization           3
3                         France              python           1
4                         France                 sql           1
5                         France             tableau          25
6                        Germany  data visualization           6
7                        Germany            power bi           2
8                        Germany              python           2
9                        Germany                 sql           2
10                       Germany             tableau           3
11  Greater Banska Bystrica Area  data visualization           1
12             Greater Lyon Area             tableau           1
13                        Greece  data visualization           2
14                       Hungary  data visualization           1
15                       Ireland  data visualization           1
16                         Italy  data visualization           4
17                         Italy              python           1
18      Lisbon Metropolitan Area  data visualization           1
19                     Lithuania  data visualization           1
20                    Luxembourg  data visualization           1
21                    Luxembourg              python           1
22                    Luxembourg             tableau           1
23                        Monaco  data visualization           1
24                   Netherlands  data visualization           5
25                   Netherlands              python           2
26                   Netherlands                 sql           1
27                        Poland  data visualization           4
28                        Poland            power bi           1
29                        Poland              python           3
30                        Poland                 sql           1
31                        Poland             tableau           2
32                      Portugal  data visualization           7
33                       Romania  data visualization           2
34                         Spain  data visualization           2
35                         Spain             tableau           1
36                        Sweden  data visualization           3
37                   Switzerland  data visualization           2
38                   Switzerland             tableau           2
39                United Kingdom  data visualization           4
40                United Kingdom              python           2
41                United Kingdom             tableau           1

–ù–∞ —ç—Ç–æ–º —ç—Ç–∞–ø–µ –º—ã –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–ª–∏ –æ–ø–∏—Å–∞–Ω–∏–µ –≤–∞–∫–∞–Ω–∏–π –∏ —Å–æ–∑–¥–∞–ª–∏ –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å–æ —Å–∫–∏–ª–∞–º–∏. –°—Ç–æ–ª–±–µ—Ü –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ 0 –∏–ª–∏ 1 –≤ –∑–∞–≤–∏—Å–æ–∏–º–æ—Ç–∏ –æ—Ç –Ω–∞–ª–∏—á–∏—è —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–π —Ç–æ–≥–æ –∏–ª–∏ –∏–Ω–æ–≥–æ —Å–∫–∏–ª–∞.

### –£–¥–∞–ª–∏—Ç—å –Ω–µ–Ω—É–∂–Ω—ã–µ –∞—Ç—Ä–∏–±—É—Ç—ã (–ø—Ä–∏–∑–Ω–∞–∫–∏).

–î–ª—è –∞–Ω–∞–ª–∏–∑–∞ –Ω–∞–º –Ω–µ –Ω—É–∂–Ω—ã: area, job_description, posted date, for_junior - —É–¥–∞–ª–∏–º –∏—Ö

In [115]:
df=df.drop([ 'area', 'job_description', 'posted_date', 'for_junior' ], axis=1)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     777 non-null    object
 1   city          777 non-null    object
 2   country       777 non-null    object
 3   workplace     777 non-null    object
 4   company_name  777 non-null    object
 5   industry      777 non-null    object
 6   company_size  777 non-null    object
 7   applicants    777 non-null    float64
 8   date          777 non-null    datetime64[ns]
 9   skills        109 non-null    object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 60.8+ KB

–°–æ—Ö—Ä–∞–Ω–∏–º —Ñ–∞–π–ª –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –¥–∞—à–±–æ—Ä–¥–∞

In [117]:
df.to_csv("~/Desktop/dash.csv")

## –î–∞—à–±–æ—Ä–¥

https://public.tableau.com/app/profile/alex2064/viz/Linkin/Dashboard1?publish=yes